<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cs246.dishitup" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Recipe"
            android:label="@string/title_activity_recipe" >
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search"
            android:theme="@style/ActionBar" >
        </activity>


        <activity
            android:name=".Filter"
            android:label="@string/title_activity_filter"
            android:theme="@style/ActionBar" >
        </activity>


        <activity
            android:name=".Favorites"
            android:label="@string/title_activity_favorites" >
        </activity>
        <activity
            android:name=".RecentlyAdded"
            android:label="@string/title_activity_recently_added" >
        </activity>
        <activity
            android:name=".RecentlyViewed"
            android:label="@string/title_activity_recently_viewed" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddNewRecipe"
            android:label="@string/title_activity_add_new_recipe" >
        </activity>
    </application>

</manifest>
